<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>TEST REWARD</title>
</head>
<main>
  <div class="container pt-3 mb-5">
    <form id="random" action="#" method="POST">
      <div class="text-center">
        <label>Setting Random</label>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <div class="form-group">
              <label>Amount Money Reward</label>
              <input type="number" class="form-control form-contro-sm amount" id="amount" name="amount" value="10000" />
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label>transferIn</label>
              <input type="number" class="form-control form-contro-sm" id="transferIn" name="transferIn" value="100" />
            </div>
            <div class="form-group">
              <label>Winlose</label>
              <input type="number" class="form-control form-contro-sm" id="winlose" name="winlose" value="100" />
            </div>
          </div>
          <div class="form-group">
            <label>Max User</label>
            <input type="number" class="form-control form-contro-sm" id="max" name="max" disabled readonly />
          </div>
          <div class="form-group">
            <label>Percentage Reward</label>
            <div class="row text-center">
              <div class="col-4">
                <label>Reward S</label>
                <input type="number" class="form-control form-contro-sm percentage" id="silver" name="silver"
                  value="50" />
              </div>
              <div class="col-4">
                <label>Reward M</label>
                <input type="number" class="form-control form-contro-sm percentage" id="gold" name="gold" value="40">
              </div>
              <div class="col-4">
                <label>Reward L</label>
                <input type="number" class="form-control form-contro-sm percentage" id="platinum" name="platinum"
                  value="10" />
              </div>
            </div>
            <div class="text-center mt-3">
              <label id="percentage-error" class="is-invalid"></label>
            </div>
          </div>
        </div>
        <div class="col-6">
          <label>Min-Max Percentage Reward</label>
          <div class="form-group">
            <label>Reward S <span id="balancS"></span></label>
            <div class="row text-center">
              <div class="col-6">
                <label>Min</label>
                <input type="number" class="form-control form-contro-sm" id="silver-min" name="silver-min" disabled
                  readonly />
              </div>
              <div class="col-6">
                <label>Max</label>
                <input type="number" class="form-control form-contro-sm" id="silver-max" name="silver-max" disabled
                  readonly />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Reward M <span id="balancM"></span></label>
            <div class="row text-center">
              <div class="col-6">
                <label>Min</label>
                <input type="number" class="form-control form-contro-sm" id="gold-min" name="gold-min" disabled
                  readonly />
              </div>
              <div class="col-6">
                <label>Max</label>
                <input type="number" class="form-control form-contro-sm" id="gold-max" name="gold-max" disabled
                  readonly />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Reward L <span id="balancL"></span></label>
            <div class="row text-center">
              <div class="col-6">
                <label>Min</label>
                <input type="number" class="form-control form-contro-sm" id="platinum-min" name="platinum-min" disabled
                  readonly />
              </div>
              <div class="col-6">
                <label>Max</label>
                <input type="number" class="form-control form-contro-sm" id="platinum-max" name="platinum-max" disabled
                  readonly />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Amount User</label>
            <div class="row text-center">
              <div class="col-4">
                <label>User S</label>
                <input type="number" class="form-control form-contro-sm percentage" id="userS" name="userS" disabled
                  readonly />
              </div>
              <div class="col-4">
                <label>User M</label>
                <input type="number" class="form-control form-contro-sm percentage" id="userM" name="userM" disabled
                  readonly />
              </div>
              <div class="col-4">
                <label>User L</label>
                <input type="number" class="form-control form-contro-sm percentage" id="userL" name="userL" disabled
                  readonly />
              </div>
            </div>
            <div class="text-center mt-3">
              <label id="percentage-error" class="is-invalid"></label>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex">
          <% for(let i in web){ -%>
          <div class="form-group col-3">
            <label><%- web[i]._id %></label>
            <% for(let x in web[i].data){-%>
            <div class="form-check mb-1">
              <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="<%- web[i].data[x]._id %>" name="optradio"
                  value="<%- web[i].data[x]._id %>" checked><%- web[i].data[x].name %>
              </label>
            </div>
            <% }-%>
          </div>
          <% }-%>
        </div>
        <div class="text-center">
          <button class="btn btn-sm btn-primary" type="button" onclick="UserInValidate()">Random</button>
        </div>
    </form>
  </div>
  <div>
    <div class="d-flex mt-5">
      <div id="divRewardS" class="col-4"></div>
      <div id="divRewardM" class="col-4"></div>
      <div id="divRewardL" class="col-4"></div>
    </div>

    <!-- <%- include ./result.ejs %> -->
  </div>
</main>

<body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script type="text/javascript" src="../json/user.json"></script>
  <script type="text/javascript" src="../js/script.js"></script>
  <script type="text/javascript" src="../js/validate.js"></script>
</body>

</html>